<h1>All Articles</h1>
<%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
<ul id="articles">
    <% @articles.each do |article| %> <!-- Hidden ERB clause -->
    <li>
        <%= link_to article.title, article_path(article),
            class: 'article_title', id: "article_#{article.id}" %> <!-- Visible ERB clause (%=)-->
    </li>
    <% end %>
</ul>