<h1>All Articles</h1>

<ul id="articles">
    <% @articles.each do |article| %> <!-- Hidden ERB clause -->
    <li>
        <%= article.title %> <!-- Visible ERB clause (%=)-->
    </li>
    <% end %>
</ul>