<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
    <% @tag.articles.each do |article| %>
        <li><%= link_to ("(#{article.id.to_s}) " + article.title), article_path(article) %></li>
    <% end %>
</ul>